.form {
  display: flex;

  gap: 8px;
  padding: 24px;
}
.input {
  border: 1px solid #808080;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #807f7c;
  padding: 8px 16px;
  width: 250px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 4px;
}
.input:hover {
  border-color: #2c313c;
}
.input:active {
  border-color: #2c313c;
}
.input::placeholder {
  color: #808080;
}
.button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 35px;
  background-color: #755f72;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #f8f5f5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: #867788;
}
