.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 12px;
  justify-content: center;
}
.item {
  flex: 0 1 calc(15% - 12px);
  box-sizing: border-box;
}
.profile {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 3px;
}
.actor {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.text {
  font-size: 14px;
  color: #666;
  margin: 0;
}
